<% if user_signed_in? %>
<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Twitter</th>
  </tr>
</thead>
<tbody>
  <% @friends.each do |friend| %>
    <% if friend.user_id == current_user.id %>
    <%= render friend %>
    <% end %> 
  <% end %>
</tbody>
</table>

<div>
<%= link_to "New friend", new_friend_path, class: "btn btn-outline-success" %>
</div>

<% else %>

<h1>Hello World!</h1>
This is my first rails webpage
<%= @myVar %>

<% end %> 